.digit-container {
    width: 100%;
    padding: 0 3vw; /* Add desired padding */
    box-sizing: border-box; /* Ensures padding is included in width */
    text-align: center;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; /* Safari and Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer and Edge */
}