.digit-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: center;
    pointer-events: none; /* Disable mouse highlights */
}